.table-view .column-header-background {
    -fx-background-color: linear-gradient(to bottom, #1dbbdd44, #93f9b944);
    -fx-background-radius: 7px 7px 0px 0px;
    /*-fx-background-insets: 0 11px 0 0;*/
    /*-fx-padding: 0 0 5px 0;*/
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-font-size: 20px;
    -fx-border-color: #676767;
    -fx-border-width: 0 1 2 0;
    -fx-border-insets: 0;
}

.table-view .table-cell {
    -fx-alignment: CENTER;
    /*-fx-border-color: transparent;*/
    -fx-padding: 2 0 2 5px;
    -fx-font-size: 23px;
    -fx-border-color: #676767;
    -fx-border-width: 0 1 2 0;
    -fx-border-insets: 0;
}

/*#columnaArticulo {*/
/*    -fx-alignment: CENTER-LEFT;*/
/*}*/

/*.table-row-cell:odd {*/
/*    -fx-background-color: #93f9b911;*/
/*    -fx-background-insets: 0, 0 0 1 0;*/
/*    -fx-padding: 0.0em;*/
/*}*/

/*.table-row-cell:even {*/
/*    -fx-background-color: #1dbbdd11;*/
/*    -fx-background-insets: 0, 0 0 1 0;*/
/*    -fx-padding: 0.0em;*/
/*}*/

.table-row-cell:hover {
    /*-fx-background-color: #93f9b911 !important;*/
    -fx-text-background-color: #0071ff;
    /*-fx-font-weight: bold;*/
}

.table-row-cell:selected {
    -fx-background-color: #dcdcdc !important;
    -fx-text-background-color: #6622CC;
    -fx-font-weight: bold;
}

/* scroll bar starts here */
/* The increment and decrement button CSS class of scrollbar */
.table-view .increment-button, .table-view .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 2em;
}

/* The main scrollbar **track** CSS class  */
.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: derive(#25acde, 80%);
    -fx-background-radius: 2em;
    -fx-border-radius: 2em;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color: derive(#25acde, 90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}

.combo-box {
    -fx-font-size: 21px;
}

.date-picker {
    -fx-font-size: 21px;
}

.text-field {
    -fx-font-size: 21px;
}